<style>
body{
  margin: 0;
  padding: 0px;
  }

  #article{
    border: none;
    margin: 0px;
    padding-top: 10px;
    font-size:38px;
    font-weight: 800;
    hyphens: none;
    height:80px;
    background-color:#ffffff;
  }
  #your_paragraph{
    border: none;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0px;
    margin: 0px;
    hyphens: auto;
  }
  div{
    border-right: 1px solid black;
    font-size: 38px;
    font-weight: 300;
    font-family: "NotoSansKR", sans-serif;
    line-height: 1.6;
    padding: 20px;
    margin-right: 20px;
    hyphens: none;
  }
  @media(max-width:800px){
    #your_paragraph{
      display: block;
    }
    #article{
      display: block;
      border-right: 0px;
    }
  }
</style>
